{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app_ecommerce/style.css' %}" />
    <title>Products</title>
  </head>
  <body>
    <!-- nav start -->
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <div>
              <a href="" class="flex px-2 py-4 items-center">
                <img
                  src="{% static 'app_ecommerce/images/icons8-buying-100.png' %}"
                  alt="Buy and Sell logo"
                  class="h-8 w-8"
                />
                <span class="text-gray-500 text-lg">Buy & Sell</span>
              </a>
            </div>
            <div class="items-center space-x-1 flex">
              <a
                href="{% url 'app_ecommerce:products' %}"
                class="py-4 px-2 text-gray-500 font-semibold border-green-500 border-b-4"
                >Home</a
              >
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold"
                >Contact</a
              >
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold"
                >About</a
              >
              {% if user.is_authenticated %}
              <a
                href="{% url 'app_users:logout' %}"
                class="py-4 px-60 text-gray-500 font-semibold"
                >Logout</a
              >
              {% else %}
              <a
                href="{% url 'app_users:login' %}"
                class="py-4 px-60 text-gray-500 font-semibold"
                >Login</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- nav end -->
    <!-- content start -->
    {% block content %}
    <!-- content -->
    {% endblock content %}
    <!-- content end -->
  </body>
</html>
